footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: visible;
    z-index: 99;
    clear: both;
    min-height: 28px;
}

.footerItems{
    color: #000;
    font-size: 12px;
    line-height: 28px;
    white-space: nowrap;
    margin-left: 8px;
    margin-right: 16px;
    width: 7em;
    float: right;
}

.footerItems:hover {
    color: #4ea4a8;
    cursor: pointer;
}