/********************************************* Estilos generales*********************************************/
*{
    font-family: "Roboto";
}

/********************************************* Tipografias *********************************************/
h1 {
    color: #222831;
    font-family: "Roboto";
}

.divDatos h3 {
    margin: 0.2em;
    color: #222831;
}

.h3Dato {
    margin: 0.2em;
    padding-right: 2em;
    color: #31363F;
}

.divDatos h2 {
    margin-top: .5em;
    margin-bottom: 0em;
    color: #222831;
}

.divCrearClase h3, .divEliminarClase h3 {
    color: #222831;
    font-size: 1.5em;
}

.divEliminarClase h3 {
    border-top: 2px solid #76ABAE;
    padding-top: .75em;
}

thead a {
    color: #eee;
}

td, td a {
    color: #31363F;
}
.divTareasAsis h2{
    margin-left: 1.5em;
    color: #222831;
}

.divTareasAsis h3{
    margin-left: 1.25em;
    margin-bottom: 0.75em;
    color: #31363F;
}

.h3AddAlumno {
    border-top: 2px solid #76ABAE;
    padding-top: 1.5em;
    width: 96%;
}

.divMostrarTarea h2 {
    color: #222831;
    margin-left: 1em;
}

.divMostrarTarea h3 {
    color: #31363F;
    margin-left: 1.25em;
}

.h2ModificarTarea {
    border-top: 2px solid #76ABAE;
    padding-top: .75em;
    margin-top: 1.2em;
    margin-right: 1em;
}

.h3Descripcion {
    width: 28em;
    margin-right: 1em;
}

/********************************************* Contenedores *********************************************/
body {
    display: flex;
    margin: 0;
    background-color: #eee;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 0.5em;
    width: 100%;
}

.sidenav {
    display: flex;

    align-items: center;
    flex-direction: column;

    width: 18%;
    min-height: 100vh;
    max-height: 100%;

    margin-top: 0.1em;
    margin-bottom: 0.1em;

    border-top-right-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
    border: 2px solid #76ABAE;

    background-color: #eee;
    box-shadow: 2px 2px 4px 0px rgba(34,40,49,0.2);
}

.sidenav form {
    margin-top: auto;
    margin-bottom: 1em;
}

.divGestionarClases {
    display: flex;
    flex-direction: column;


    align-items: center;

    width: 30em;

    border: 2px solid #76ABAE;
    border-radius: 1em;

    background-color: #eee;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.divCrearClase {
    display: grid;
}


.divCrearClase div{
    display: grid;
    grid-template-columns: 10em 100%;

    width: 22em;
    height: 1.5em;

    margin-bottom: 1em;

    font-weight: 500;
    font-size: 1.1em;

    color: #31363F;
}

.divEliminarClase {
    display: flex;
    flex-direction: column;

    justify-content: center;

    width: 25em;
}   

.divEliminarClase div{
    margin-bottom: 1em;

    font-weight: 500;
    font-size: 1.1em;

    color: #31363F;
}   

.divTusDatos {
    display: flex;
    flex-direction: column;

    padding: .5em 4em 1em 2em;

    border: 2px solid #76ABAE;
    border-radius: 20px;

    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.divTusDatos div {
    display: flex;
    align-items: center;
    margin-bottom: .65em;

}

.divTareasAsis {
    border: 2px solid #76ABAE;
    border-radius: 20px;
    
    max-width: 1330px;
    margin-top: .5em;
    padding-bottom: 1em;

    background-color: #eee;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

table {
    border-collapse: collapse;
    min-width: max-content;

    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: .5em;

    border-radius: 5px 5px 0 0;
    font-size: 1.1em;
    font-weight: bold;
    
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.48);
}

thead {
    background-color: #76ABAE;
    color: #eee;
    text-align: left;
    font-weight: bold;
}

td,
th {
    padding: 12px 15px;
}

.tdAsistencia{
    text-align: start;
    padding-left: 2.7em;
}

.divTablaAsis {
    overflow-x: scroll;
    height: fit-content;
}

tr {
    align-items: start;
    border-bottom: 1px solid #76ABAE;
}

.tdTareas:nth-child(even), .tdAsistencia:nth-child(even) {
    background-color: #dddddd;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #76ABAE;
}

.divCheckbox {
    display: flex;
    align-items: center;

    height: 2em;
    width: 2em;

    transform: translate(-50%, -50%);
}

.divMostrarTarea {
    border: 2px solid #76ABAE;
    border-radius: 15px;
    
    color: #31363F;
    font-weight: 450;
}

.divMostrarTarea div{
    display: grid;
    grid-template-columns: 8em 22em;
    grid-template-rows: auto 100px;

    justify-content: center;
    gap: .5em;
}

.frmAlmTar {
    margin-left: 1.5em;
    color: #222831;
    font-size: 1.1em;
}

/********************************************* Botones *********************************************/
.sidenav a {
    display: flex;
    align-items: center;
    justify-content: start;

    width: 80%;

    border-bottom: 2px solid #76ABAE;

    margin-top: 0.3125em;
    margin-bottom: 0.9375em;

    padding-top: 0.3125em;
    padding-bottom: 0.3125em;

    text-decoration: none;
    text-align: center;

    font-size: 1.25em;
    font-weight: 900;

    color: #31363F;
    fill: #31363F;

    transition: all .2s ease;
}

.my-button-loggout {
    height: 3.235294117647059em;
    width: 9.6875em;

    border-radius: 6px;
    border-width: 0;
    border: 2px solid #222831;

    font-size: 1.1em;
    font-family: "Roboto";
    font-weight: 900;

    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;

    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;

    background-color: #eee;
    color: #222831;
    
    cursor: pointer;
    transition: all .3s ease;
}

.my-button {
    padding: 4px 32px;
    margin: 4px 2px;margin: 4px 2px;
   
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;

    border: none;

    color: white;
    background-color: #76ABAE;

    cursor: pointer;
}

.btnCrearClase {
    cursor: pointer;
    height: 2.25em;

    border:2px solid #222831;
    border-radius: 5px;

    margin-left: 6.5em;
    margin-right: 6.5em;
    margin-top: .75em;

    font-size: 1.1em;
    font-weight: 500;

    color: #eee;
    background-color: #222831;
    transition: all .3s ease;
}

.btnEliminarClase {
    cursor: pointer;
    height: 2.25em;

    border:2px solid #222831;
    border-radius: 5px;

    margin-left: 6.5em;
    margin-right: 6.5em;
    margin-top: .5em;
    margin-bottom: 1.5em;

    font-size: 1.1em;
    font-weight: 500;

    color: #222831;
    background-color: #eee;
    transition: all .3s ease;
}

.btnEnviar {
    cursor: pointer;
    height: 2.25em;
    width: 7em;

    border:2px solid #222831;
    border-radius: 5px;

    margin-left: 2.7em;
    margin-right: 6.5em;
    margin-top: .5em;
    margin-bottom: .75em;

    font-size: 1.1em;
    font-weight: 500;

    color: #eee;
    background-color: #222831;
    transition: all .3s ease;
}

.frmAlmTar button {
    cursor: pointer;

    height: 2em;

    border: none;
    border-radius: 4px;

    font-size: 1em;
    font-weight: 500;

    color: #eee;
    background-color: #76ABAE;
    transition: all .2s ease;
}

.btnModTar{
    cursor: pointer;
    height: 3em;
    width: 7em;

    margin-right: 1em;
    margin-top: 1.05em;

    border: none;
    border-radius: 4px;

    font-size: 1em;
    font-weight: 500;

    color: #eee;
    background-color: #76ABAE;
    transition: all .2s ease;
}

.divMostrarTarea button {
    height: 2.5em;
    width: 8.5em;

    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 1em;

    border-radius: 7px;
    border: 2px solid #222831;

    background-color: #222831;
    transition: all .3s ease;
}

.btnDia {
    cursor: pointer;
    position: relative;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 24px;

    margin-top: 2em;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.btnDia svg{
    height: .9em;
    width: .9em;
    fill: #31363F;
}

.thBtnDia {
    text-align: start;
    width: 10em;
}

.btnModificarTusDatos {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    text-decoration: none;
    height: 2.25em;
    width: 7em;

    margin-left: auto;
    margin-right: 2em;
    margin-top: 1em;

    border:2px solid #222831;
    border-radius: 5px;

    font-size: 1.1em;
    font-weight: 500;

    color: #eee;
    background-color: #222831;
    transition: all .3s ease;
}

/********************************************* Inputs *********************************************/

.divCrearClase div input {
    width: 12em;

    border: 1px solid #31363F;
    border-radius: 5px;
    outline: none;

    font-weight: 450;
    font-size: 1em;

    background-color: #eee;
    color: #31363F;
}

.divEliminarClase div input {
    margin-left: 4em;

    border: 1px solid #31363F;
    border-radius: 5px;

    font-weight: 450;
    font-size: 1em;

    background-color: #eee;
    color: #31363F;
    
    outline: none;
}

.frmAlmTar input {
    margin-left: .25em;
    margin-right: 1em;

    border: 1px solid #31363F;
    border-radius: 4px;

    font-size: .85em;

    background-color: #eee;
    color: #31363F;
    
    outline: none;
}

.divMostrarTarea input, .divMostrarTarea textarea {
    padding-top: 2px;
    padding: 2px;

    border-radius: 5px;
    border: 2px #222831 solid;

    font-size: .9em;
    font-weight: bold;
    color: #31363F;

    background-color: #eee;
    resize: none;
}

input[type="checkbox"] {
    display: flex;
    align-items: center;
    justify-content: center;

    appearance: none;
    -webkit-appearance: none;

    height: 1.25em;
    width: 1.25em;

    background-color: #ccc;
    border: 1px solid #76ABAE;

    cursor: pointer;
    outline: none;
}

input[type="checkbox"]:after {
    font-weight: 900;
    font-size: 1em;

    font-family: "Font Awesome 5 Free";
    content: "\f00c";

    color: #ffffff;
    display: none;
}
  
input[type="checkbox"]:hover {
    background-color: #a5a5a5;
}

input[type="checkbox"]:checked {
    background-color: #76ABAE;
}

input[type="checkbox"]:checked:after {
    display: block;
}

.selectPulcritud {
    -webkit-appearance: button;
    appearance: button;
    outline: none;

    width: 2em;
    
    margin-top: .5em;
    padding: 2px;

    border: none;
    border-radius: 2px;

    font-size: 1em;
    color: white;

    background-color: #76ABAE;
}

.selectPulcritud:hover {
    cursor: pointer;
}

.selectPulcritud:hover::before {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

/********************************************* Hovers *********************************************/
.sidenav a:hover {  
    cursor: pointer;
    color: #76ABAE;
    fill: #76ABAE;
}

.my-button:hover, .btnModTar:hover {
    background-color: #53888B;
}

.my-button-loggout:hover {
    font-size: 1.15em;

    background-color: #222831;
    border: white;
    color: #eee;
}

.btnCrearClase:hover {
    border:2px solid #222831;
    color: #222831;
    background-color: #eee;
}

.btnEliminarClase:hover {
    border:2px solid #222831;
    color: #eee;
    background-color: #222831;
}

.btnEnviar:hover, .btnModificarTusDatos:hover {
    background-color: #404352;
    border: 2px solid #404352;
}

.divMostrarTarea button:hover {
    background-color: #eee;
    color: #222831;
}

/********************************************* Focus *********************************************/
input[type="text"]:focus, 
input[type="date"]:focus,
input[type="time"]:focus, 
input[type="number"]:focus{
    border: 2px solid #76ABAE;
    cursor: text;
}

/********************************************* SVGs *********************************************/
.sidenav svg {
    height: 1em;
    width: 1em;
    margin-right: 0.50em;
}

.divDatos svg {
    height: 4em;
    width: 4em;

    margin-right: 1em;

    fill: #76ABAE;
}