.Wrapper {
    display: flex;
    margin: 0;
    padding: auto;
    height: 100%;
    width: 1900px;
    border: 1px solid blue;
}

.MainLayout {
    display: flex;
    margin: 0;
    flex-direction: column;
    padding: auto;
    height: 100%;
    width: 100%;
    background-color: orange;
}

.AsideLayout {
    background-color: brown;
    height: 100%;
    width: 350px;
}

header {
    background-color: red;
    height: 200px;
}

nav {
    background-color: green;
    height: 120px;
}

section {
    background-color: blueviolet;
    height: 100%;
}

footer {
    margin-top: auto;
    background-color: aqua;
    height: 120px;
}