.Register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterLeft {
    background-color: #31363F;
    width: 500px;
    height: 600px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}

.RegisterRight{
    background-color: #222831;
    width: 500px;
    height: 600px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}
