.Register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterLeft {
    display: flex;
    flex-direction: column;
    background-color: #31363F;
    width: 500px;
    height: 600px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}

.LayoutCandidateInputs1{
    display: flex;
    width: 100%;
    height: 400px;
}

.LayoutCandidateTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 70px;
    font-size: 1.7em;
    color: #eeeeee;
    font-family: Gorgia, serif;
    font-weight: bold;
}

.RegisterRight{
    background-color: #222831;
    width: 500px;
    height: 600px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}
