.Sidebar{
    padding-top: 0;
    height: 100%;
    width: 15%;
    background-color: #31363F;
    display: flex;
    border-right: 1px solid #EEEEEE;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.SidebarList .row {
    height: 60px;
    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid #EEEEEE;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: #EEEEEE;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.SidebarList .row:hover {
    cursor: pointer;
    background-color: #1c1f24;
    font-size: 18px;
}

.row .icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row .title {
    flex: 70%;
}